@font-face {
    font-family: hauora-bold;
    src: url(/FONTS/Hauora-Bold.otf);
}
@font-face {
    font-family: hauora-light;
    src: url(/FONTS/Hauora-Light.otf);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: hauora-bold;
}
.nav-img{
    width: 10%;
}
nav, .flogo{
    text-align: center;
}
.contain{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
}
.body{
    display: flex;
    width: 100%;
    gap: 10%;
    margin: 10% 0%;
    justify-content: space-between;
}
.fill{
    width: 100%;
    margin-top: 8%;
}
.fill input{
    width: 100%;
    padding: 12px;
}
#forget{
    width: 105%;
    padding: 15px;
    color: #c6c5c4;
    background-color: #005900;
    border: none;
    outline: none;
    margin-top: 7%;
}
.back {
    text-align: center;
    margin-top: 5%;
}
.back a{
    text-decoration: none;
    color: #005900;
}
.head{
    text-align: center;
    line-height: 40px;
    margin-bottom: 10%;
}
.mock img{
    width: 100%;
}
.mock{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

