@font-face {
  font-family: Haoura;
  src: url(/fonts/web/Hauora-Regular.woff);
  /* font-weight: bold; */
}
* {
  font-family: Haoura;
}
footer {
  list-style: none;
  background-color: #e6eee6;
}
#btn2 {
  background-color: #005400;
  border: none;
  color: white;
  padding: 10px 70px;
}
/* #exampleFormControlInput1{
    margin: 0px 50px;
} */

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.row > div:nth-child(2){
  transition-delay:2s;
}
.row > div:nth-child(3){
  transition-delay: 4s;
}
.row > div:nth-child(4){
  transition-delay: 6s;
}
.row > div:nth-child(5){
  transition-delay: 8s;
}

