<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a page that gives information about Farmkart, our team and our partners.">
    <meta name="author" content="Asaolu james">
    <title>Farmkart | Welcome to market!</title>
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="shortcut icon" href="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" type="image/x-icon">
    <link rel="stylesheet" href="style.js">
</head>
<body>
    <section>
        <nav>
            <div class="nav-bar">
                <div class="theLogo">
                    <a href="/templates/index.html"><img src="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" alt="farmkart-logo"></a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="/templates/market.html">Home</a></li>
                        <li><a href="/templates/market.html">Marketplace</a></li>
                        <li><a href="/templates/about.html">About us</a></li>
                        <li><a href="/templates/faq.html">FAQ</a></li>
                        <li><a href="#">Support</a></li>
                    </ul>
                </div>
                <div class="profile">
                    <div class="imaging">
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg" alt="">
                    </div>
                    <div class="butn">
                        <button type="submit"><a href="/templates/newsell.html">SELL</a></button>
                    </div>
                    <div class="cart">
                        <div class="no-of-items"><p></p></div>
                        <img src="/FARMKART IMAGES/ICONS/Icons-8.png" alt="">
                        <a href="/templates/emptycart.html">Cart</a>
                    </div>
                </div>
            </div>
        </nav>         
    </section>
    <main>
        <div class="top">
            <h2>At FarmKart,</h2>
            <p>We aim to connect farmers and consumers with ease.</p>
        </div>
        <hr>
        <div class="us">
            <div class="mission">
                <h2>Our Mission</h2>
                <p>Farmer's Ventures, an agricultural organization aims to better the lives of farmers by giving them a unique way of selling their products and increasing their income. Most importantly, giving them opportunity to have the autonomy in selling without fretting with middle men exhibitant fees. Thus, the introduction of an e-market agricultural platform - <b>FARMKART.</b></p>
                <br>
                <p>With FARMKART, farmers can post their goods for sale. By doing this, they connect with consumers across the country and link directly with consumers at their comfort zone. Consumers also have the opportunity to speak with the farmers on their preferences and neotiate where neccessary.</p>
                <br>
                <p>FARMKART is safe, reliable and efficient. Goods are thoroughly inspected and delivered swiftly. Our trained and efficient customer support is top-notch. They are reliable and understanding in their dealings with our customers. Responsible are delivered swiftly and issues are resolved amicably.</p>
            </div>
            <div class="meet">
                <h2>Meet Our Team</h2>
                <p>We are an innovative team consisting of a project manager, product designers and developers dedicated to creating outstanding solutions to real-world problems.</p>
                <div class="team">
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Manji Best 1.png" alt="manji best">
                        <h3>Manji Best</h3>
                        <p>Product Manager</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Mariam Asiwaju-Bello.jpg" alt="mariam asiwaju">
                        <h3>Mariam Asiwaju-Bello</h3>
                        <p>UI?UX Designer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Babatola Arogundade.jpg" alt="Babatola Arogundade">
                        <h3>Babatola Arogundade</h3>
                        <p>Product Designer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Lade Onipede .jpg" alt="lade onipede">
                        <h3>Lade Onipede</h3>
                        <p>Product Designer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Joseph Ajogwu.png" alt="joseph ajogwu">
                        <h3>Joseph Ajogwu</h3>
                        <p>Product Designer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Frank Pazival.png" alt="frank pazival">
                        <h3>Pazival Frank</h3>
                        <p>Product Designer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Asaolu james.jpg" alt="asaolu james">
                        <h3>Asaolu James</h3>
                        <p>Frontend Developer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Lilian Damisa.jpg" alt="lilian damisa">
                        <h3>Lilian Damisa</h3>
                        <p>Frontend Developer</p>
                    </div>
                    <div>
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/Emeka Onwugbenu.jpg" alt="emeka oniwugbenu">
                        <h3>Emeka Oniwugbenu</h3>
                        <p>Frontend Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>
    <div class="foot">
        <div class="a1">
           <img src="/FARMKART IMAGES/ICONS/logo (2).png" alt="Farmkart logo">
        </div>
        <div class="b1">
            <div class="a">
                <ul>
                 <li>ABOUT US</li>
                 <li><a href="">About Farmkart</a></li>
                 <li><a href="/templates/Termofuse.html">Terms of use</a></li>
                </ul>
             </div>
             <div class="b">
                 <ul>
                     <li>RESOURCES</li>
                     <li><a href="">Our Blog</a></li>
                 </ul>
             </div>
             <div class="c">
                 <ul>
                     <li>SUPPORT</li>
                     <li><a href="/templates/contact.html">Contact Us</a></li>
                     <li><a href="/templates/faq.html">FAQ</a></li>
                 </ul>
             </div>
             <div class="d">
                 <form action="" method="post">
                    <p><label for="subscribe">NEWSLETTER</label></p>
                    <input type="email" name="subscribe" id="subscribe" class="input" placeholder="abeljames@outlook.com"><span><input type="button" value="SUBSCRIBE" class="btn"></span>
                 </form>
             </div>
        </div>
    </div>
    <hr>
    <div class="last">
        <div class="copy">
            <p>&copy; 2022 All right reserved <a href="">FARMKART</a></p>
        </div>
        <div class="socials">
            <span><span><a href=""><img src="/FARMKART IMAGES/ICONS/facebook 1.png" alt="facebook icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/linkedin 1.png" alt="linkedin icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/twitter.png" alt="twitter icon"></a></span><span class="mail"><a href=""><img src="/FARMKART IMAGES/ICONS/mail.png" alt="gmail icon"></a></span></span>
        </div>
    </div>
</footer>
</html>