<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<!-- My personal CSS style -->
<link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
        <a class="navbar-brand me-5" href="#">
            <img src="/images/contact/logo.png" alt="Farm Kart" width="70px" height="70px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3 gap-2 text-dark">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color: #005400;" href="#">Contact Us</a>
            </li>
            </ul>

            <div class="d-flex gap-4">
                <div class="d-flex align-items-center gap-2">
                    <img src="/images/contact/James.png" alt="" width="40px" height="40px">
                    <button id="btn2" class="rounded">SELL</button>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <img src="/images/contact/akar-icons_cart.png" alt="" width="30px" height="30px">
                    <p class="my-auto">Cart</p>
                </div>   
            </div>

        </div>
        </div>
    </nav>  

    <div class="text-center my-5">
        <h5 class="fw-bold">Get in Touch with Us</h5>
        <div class="d-flex justify-content-center">
            <p>Direct Call: <span style="color: #005400;">(+234)-805-234-6655</span></p>
            <p>Email: <span style="color: #005400;">info@farmkart.com</span></p>
        </div>
        <h5>OR</h5>
    </div>

    <div class="container mb-5">
        <div class="row justify-content-between">
            <div class="col-5">
                <p class="my-3"><strong>Fill out this form for swift response</strong></p>
                
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="James Abdul">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="jamesabdul@outlook.com">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Subject</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Card decline">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn" id="btn2">Send Message</button>
                </div>

            </div>

            <div class="col-5 my-auto">
                <img src="/images/contact/amico.svg" alt="" width="400px" height="500px" class="my-auto">
            </div>
        </div>   
    </div>    
    <!-- Footer-->
    <footer id="hero" class="py-4">
        <div class="container text-center">
            <div class="row justify-content-evenly py-5 border-bottom">
        
            <!-- logo -->
            <div class="col text-start">
                <a class="navbar-brand" href="#">
                <img src="/images/faq/logo.png" alt="Farm Kart" width="70px" height="70px">
                </a>   
            </div>
        
            <!-- quick links -->
            <div class="col text-start">
                <li class="nav-item fw-bold">
                    <a class="nav-link active" href="#">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">About FarmKart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Terms of Use</a>
                </li>
            </div>
        
            <!-- quick links -->
            <div class="col text-start">
                <li class="nav-item fw-bold">
                <a class="nav-link active" href="#">RESOURCES</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="#">Our Blog</a>
                </li>
            </div>
        
            <!-- quick links -->
            <div class="col text-start">
                <li class="nav-item fw-bold">
                <a class="nav-link active" href="#">SUPPORT</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="#">FAQ</a>
                </li>
            </div>
        
            <!-- Subcribe form -->
            <div class="col-5 text-start">
                    <label for="newsletter" class="fw-bold" >NEWSLETTER</label>
                    <div class="d-flex gap-2">
                    <input type="email" id="newsletter" value="abeljames@outlook.com">
                    <button class="btn rounded" style="background-color: #005400; color: white;">SUBSCRIBE</button> 
                    </div>
            </div>
        
            </div>
        
            <div class="d-flex justify-content-between gap-3 my-3">
            <p class="py-1">© 2022 All rights reserved. <span style="color: #005400; font-size: 14px;">FarmKart</span></p>
        
            <div>
                <img src="/images/landing-page/facebook 1.png" alt="Facebook" width="40px" height="40px">
                <img src="/images/landing-page/linkedin 1.png" alt="LinkedIn" width="40px" height="40px">
                <img src="/images/landing-page/twitter 1.png" alt="Twitter" width="40px" height="40px">
                <img src="/images/landing-page/Mail.png" alt="Mail" width="40px" height="40px"> 
            </div>
        
            </div>
        
        </div>
    </footer>

          <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>