<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/FARMKART IMAGES/FARMKART PICTURES/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/editprofile.css">
    <title>FARMKART | Edit Profile Page</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <div class="theLogo">
                <a href="/templates/index.html"><img src="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" alt="farmkart-logo"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/templates/market.html">Home</a></li>
                    <li><a href="/templates/market.html">Marketplace</a></li>
                    <li><a href="/templates/about.html">About us</a></li>
                    <li><a href="/templates/faq.html">FAQ</a></li>
                    <li><a href="/templates/contact.html">Support</a></li>
                </ul>
            </div>
            <div class="profile">
                <div class="imaging">
                    <img src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg" alt="">
                </div>
                <div class="butn">
                    <button type="submit"><a href="/templates/newsell.html">SELL</a></button>
                </div>
                <div class="cart">
                    <div class="no-of-items"><p></p></div>
                    <img src="/FARMKART IMAGES/ICONS/Icons-8.png" alt="">
                    <a href="/templates/emptycart.html">Cart</a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="body">
            <p style="padding: 0% 10px;"><b>My profile</b></p>
            <div class="m-content">
                <div class="flex">
                    <div class="prof">
                        <img src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg" alt="profile">
                        <p><b>James Abel</b></p>
                    </div>
                </div>
                <div class="m-content1">
                    <div class="form">
                        <p><label for="fname">Full Name</label></p>
                        <input type="text" name="fname" id="fname" placeholder="James">
                    </div>
                    <div class="form">
                        <p><label for="lname">Last Name</label></p>
                        <input type="text" name="lname" id="lname" placeholder="Abel">
                    </div>
                    <div class="form">
                        <p><label for="email">Email</label></p>
                        <input type="email" name="email" id="email" placeholder="jamesabel@outlook.com">
                    </div>
                    <div class="form">
                        <p><label for="pnumber">Phone Number (+234)</label></p>
                        <input type="tel" name="pnumber" id="pnumber" placeholder="0806-234-9900">
                    </div>
                    <div class="form" style="width: 50%;">
                        <p><label for="location">Location</label></p>
                        <input type="text" name="location" id="location" placeholder="Lagos" style="width: 50%;">
                    </div>
                </div>
            </div>
            <div class="pass">
                <div class="change">
                    <p><b>Change Password</b></p>
                </div>
                <div  class="password">
                    <div class="form">
                        <p><label for="cpassword">Current Password</label></p>
                        <input type="password" name="cpassword" id="cpassword" placeholder="*********">
                    </div>
                    <div class="form">
                        <p><label for="npassword">New Password</label></p>
                        <input type="password" name="npassword" id="npassword" placeholder="*********">
                    </div>
                    <div class="form">
                        <p><label for="copassword">Confirm Password</label></p>
                        <input type="password" name="copassword" id="copassword" placeholder="*********">
                    </div>
                </div>
            </div>
            <div class="bttnn">
                <a href="/templates/market.html" style="padding: 10px;"><button type="submit"> Save Changes</button></a>
                <a href="/templates/editprofile.html" style="padding: 10px;"><button type="submit">Cancel</button></a>
            </div>
        </div>
    </main>
    <footer>
        <div class="foot">
            <div class="a1">
               <img src="/FARMKART IMAGES/ICONS/logo (2).png" alt="Farmkart logo">
            </div>
            <div class="b1">
                <div class="a">
                    <ul>
                     <li>ABOUT US</li>
                     <li><a href="">About Farmkart</a></li>
                     <li><a href="/templates/Termofuse.html">Terms of use</a></li>
                    </ul>
                 </div>
                 <div class="b">
                     <ul>
                         <li>RESOURCES</li>
                         <li><a href="">Our Blog</a></li>
                     </ul>
                 </div>
                 <div class="c">
                     <ul>
                         <li>SUPPORT</li>
                         <li><a href="">Contact Us</a></li>
                         <li><a href="">FAQ</a></li>
                     </ul>
                 </div>
                 <div class="d">
                     <form action="" method="post">
                        <p><label for="subscribe">NEWSLETTER</label></p>
                        <input type="email" name="subscribe" id="subscribe" class="input" placeholder="abeljames@outlook.com"><span><input type="button" value="SUBSCRIBE" class="btn"></span>
                     </form>
                 </div>
            </div>
        </div>
        <hr>
        <div class="last">
            <div class="copy">
                <p>&copy; 2022 All right reserved <a href="">FARMKART</a></p>
            </div>
            <div class="socials">
                <span><span><a href=""><img src="/FARMKART IMAGES/ICONS/facebook 1.png" alt="facebook icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/linkedin 1.png" alt="linkedin icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/twitter.png" alt="twitter icon"></a></span><span class="mail"><a href=""><img src="/FARMKART IMAGES/ICONS/mail.png" alt="gmail icon"></a></span></span>
            </div>
        </div>
    </footer>
</body>
</html>