<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a cart page for the farmkart website, only for new users or vistors">
    <meta name="author" content="Asaolu james">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/emptycart.css">
    <link rel="shortcut icon" href="/FARMKART IMAGES/FARMKART PICTURES/Logo.png" type="image/x-icon">
    <title>FARMKART | Your Cart</title>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <div class="theLogo">
                <img src="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" alt="farmkart-logo">
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="/templates/market.html">Marketplace</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>
            <div class="profile">
                <div class="imaging">
                    <img src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg" alt="">
                </div>
                <div class="butn">
                    <button type="submit"><a href="/templates/newsell.html">SELL</a></button>
                </div>
                <div class="cart">
                    <div class="no-of-items"><p></p></div>
                    <img src="/FARMKART IMAGES/ICONS/Icons-8.png" alt="cart-icon">
                    <a href="/templates/emptycart.html">Cart</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="contents">
            <div>
                <img src="/FARMKART IMAGES/ICONS/Artwork-2.png" alt="shopping basket">
                <div class="counter"><div><p>0</p>
                </div></div>
            </div>
            <div class="cart-text">
                <p>Your Cart is empty</p>
                <p>Looks like you haven't added anything to your cart yet</p>
            </div>
            <a href="/templates/market.html"><button type="submit">Back to marketplace</button></a>
        </div>
    </div>
    <footer>
        <div class="foot">
            <div class="a1">
               <img src="/FARMKART IMAGES/ICONS/logo (2).png" alt="Farmkart logo">
            </div>
            <div class="b1">
                <div class="a">
                    <ul>
                     <li>ABOUT US</li>
                     <li><a href="">About Farmkart</a></li>
                     <li><a href="">Terms of use</a></li>
                    </ul>
                 </div>
                 <div class="b">
                     <ul>
                         <li>RESOURCES</li>
                         <li><a href="">Our Blog</a></li>
                     </ul>
                 </div>
                 <div class="c">
                     <ul>
                         <li>SUPPORT</li>
                         <li><a href="">Contact Us</a></li>
                         <li><a href="">FAQ</a></li>
                     </ul>
                 </div>
                 <div class="d">
                     <form action="" method="post">
                        <p><label for="subscribe">NEWSLETTER</label></p>
                        <input type="email" name="subscribe" id="subscribe" class="input" placeholder="abeljames@outlook.com"><span><input type="button" value="SUBSCRIBE" class="btn"></span>
                     </form>
                 </div>
            </div>
        </div>
        <hr>
        <div class="last">
            <div class="copy">
                <p>&copy; 2022 All right reserved <a href="">FARMKART</a></p>
            </div>
            <div class="socials">
                <span><span><a href=""><img src="/FARMKART IMAGES/ICONS/facebook 1.png" alt="facebook icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/linkedin 1.png" alt="linkedin icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/twitter.png" alt="twitter icon"></a></span><span class="mail"><a href=""><img src="/FARMKART IMAGES/ICONS/mail.png" alt="gmail icon"></a></span></span>
            </div>
        </div>
    </footer>
</body>
</html>