<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="shortcut icon" href="/FARMKART IMAGES/FARMKART PICTURES/Logo.png" type="image/x-icon">
    <title>404 | error</title>
    <style>
        .body{
            margin: auto;
            width: 70%;
            display: grid;
            justify-content: center;
            text-align: center;
        }
        .main{
            margin: 8% 0%;
        }
        .err img{
            width: 70%;
            margin-bottom: 5%;
        }
        button{
            padding: 1% 15%;
            color: #c6c5c4;
            background-color: #005900;
            border: none;
            margin-bottom: 2%;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-bar">
            <div class="theLogo">
                <a href="/templates/index.html"><img src="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" alt="farmkart-logo"></a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/templates/market.html">Home</a></li>
                    <li><a href="/templates/market.html">Marketplace</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="profile">
                <div class="imaging">
                    <img src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg" alt="">
                </div>
                <div class="butn">
                    <button type="submit"><a href="/templates/newsell.html">SELL</a></button>
                </div>
                <div class="cart">
                    <div class="no-of-items"><p></p></div>
                    <img src="/FARMKART IMAGES/ICONS/Icons-8.png" alt="">
                    <a href="/templates/emptycart.html">Cart</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="body">
        <div class="main">
            <div class="err">
                <img src="/FARMKART IMAGES/ICONS/Frame 1248.png" alt="error">
            </div>
            <a href="/templates/market.html"><button type="submit">Back to Homepage</button></a>
        </div>
    </section>
    <footer>
        <div class="foot">
            <div class="a1">
               <img src="/FARMKART IMAGES/ICONS/logo (2).png" alt="Farmkart logo">
            </div>
            <div class="b1">
                <div class="a">
                    <ul>
                     <li>ABOUT US</li>
                     <li><a href="">About Farmkart</a></li>
                     <li><a href="/templates/Termofuse.html">Terms of use</a></li>
                    </ul>
                 </div>
                 <div class="b">
                     <ul>
                         <li>RESOURCES</li>
                         <li><a href="">Our Blog</a></li>
                     </ul>
                 </div>
                 <div class="c">
                     <ul>
                         <li>SUPPORT</li>
                         <li><a href="">Contact Us</a></li>
                         <li><a href="">FAQ</a></li>
                     </ul>
                 </div>
                 <div class="d">
                     <form action="" method="post">
                        <p><label for="subscribe">NEWSLETTER</label></p>
                        <input type="email" name="subscribe" id="subscribe" class="input" placeholder="abeljames@outlook.com"><span><input type="button" value="SUBSCRIBE" class="btn"></span>
                     </form>
                 </div>
            </div>
        </div>
        <hr>
        <div class="last">
            <div class="copy">
                <p>&copy; 2022 All right reserved <a href="">FARMKART</a></p>
            </div>
            <div class="socials">
                <span><span><a href=""><img src="/FARMKART IMAGES/ICONS/facebook 1.png" alt="facebook icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/linkedin 1.png" alt="linkedin icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/twitter.png" alt="twitter icon"></a></span><span class="mail"><a href=""><img src="/FARMKART IMAGES/ICONS/mail.png" alt="gmail icon"></a></span></span>
            </div>
        </div>
    </footer>
</body>
</html>