<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>FAQ</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/style.js">
    <link rel="stylesheet" href="/static/faq-new.css">
  </head>
  <body>
    <header>

    </header>
    
    <div class="search-div" >
        <p class="frequently-asked-questions">FREQUENTLY ASKED QUESTIONS</p>
        <div class="have-questions-were-here-to">
            Have questions? We’re here to help.
        </div>
        <div class="search-container">
            <img class="search-img" src="172546_search_icon.svg" alt="">
            <div class="search-bar">
                    <input type="search" placeholder="Search FAQ">
            </div>
        </div>
    </div>
      <div class="questions-div">
        <div class="frame-div5">
          <div class="frame-div6">
            <img id="plus-sign" class="img1-icon" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How do I sell on FarmKart?</div>
          </div>
          <div class="frame-div7" id="newID" style="display:none">
            <div  class="ans1-div">
              You sell by signing in to FarmKart, click on the “sell” button on
              the homepage. Input all necessary details of your product. Ensure
              all information are correct then click on “Submit Product” button.
              Once done, our team will review your advert and you will get an
              email notification once it goes live.
            </div>
          </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img id="img2" class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">What does ad limit means?</div>
            </div>
            <div class="frame-div7" id="ans2-div" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img id="img2" class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How much do I pay before selling?</div>
            </div>
            <div class="frame-div7" id="ans2-div" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How fast is the delivery?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How do I contact support team?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">What is a market place?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">Do you have any office store?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How do I pay?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">What are the advert rules?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How do I report fraudulent activities?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How many days does delivery take?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">Who should I contact for card decline issues?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How can I rate a seller?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">Can i promote my advert?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">Are reviews editable after posting?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">What makes an advert effective?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>
        <div class="frame-div5">
            <div class="frame-div8">
            <img class="icons3" alt="" src="circle-icon.svg" />
            <div class="marketplace-div">How much is delivery fee?</div>
            </div>
            <div class="frame-div7" id="newID" style="display:none">
                <div class="ans1-div">
                
                </div>
            </div>
        </div>

        <p class="post-script">Still have question? Let our team help you. <a href="Contact-new.html">Contact Us</a></p>
      
    <script src="index.js">

    </script>
  </body>
</html>
