<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is a signup page for the farmkart website, only for new users or vistors"
    />
    <meta name="author" content="Asaolu james" />
    <title>Farmkart | Welcome to market!</title>
    <link rel="stylesheet" href="/static/market.css" />
    <link rel="stylesheet" href="/static/footer.css" />
    <link rel="stylesheet" href="/static/nav.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="shortcut icon"
      href="/FARMKART IMAGES/FARMKART PICTURES/image 233.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="style.js" />
  </head>
  <body>
    <section>
      <nav>
        <div class="nav-bar">
          <div class="theLogo">
            <a href="/templates/index.html"
              ><img
                src="/FARMKART IMAGES/FARMKART PICTURES/image 233.png"
                alt="farmkart-logo"
            /></a>
          </div>
          <div class="nav-links">
            <ul>
              <li><a href="/templates/market.html">Home</a></li>
              <li><a href="/templates/market.html">Marketplace</a></li>
              <li><a href="/templates/about.html">About us</a></li>
              <li><a href="/templates/faq.html">FAQ</a></li>
              <li><a href="/templates/contact.html">Support</a></li>
            </ul>
          </div>
          <div class="profile">
            <div class="imaging">
              <a href="/templates/editprofile.html"
                ><img
                  src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg"
                  alt="profile-image"
              /></a>
            </div>
            <div class="butn">
              <button type="submit">
                <a href="/templates/newsell.html">SELL</a>
              </button>
            </div>
            <div class="cart">
              <div class="no-of-items"><p></p></div>
              <img src="/FARMKART IMAGES/ICONS/Icons-8.png" alt="" />
              <a href="/templates/emptycart.html">Cart</a>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <section>
      <div class="general-body">
        <div class="first-row">
          <div class="batch1">
            <p
              style="
                text-align: left;
                padding-left: 5%;
                color: #005900;
                margin: 5%;
              "
            >
              Categories
            </p>
            <hr />
            <div class="category" style="padding-left: 5%; line-height: 200%">
              <div style="margin: auto; padding: 0; display: flex; gap: 5%">
                <div style="text-align: center">
                  <img
                    style="
                      margin: auto;
                      padding: 0;
                      justify-content: center;
                      margin-top: 3px;
                    "
                    src="/FARMKART IMAGES/ICONS/Icons-15.png"
                    alt="icon"
                  />
                </div>
                <div>Livestock</div>
              </div>
              <div style="margin: auto; padding: 0; display: flex; gap: 5%">
                <div style="text-align: center">
                  <img
                    style="
                      margin: auto;
                      padding: 0;
                      justify-content: center;
                      margin-top: 3px;
                    "
                    src="/FARMKART IMAGES/ICONS/Icons-15.png"
                    alt="icon"
                  />
                </div>
                <div>Crops</div>
              </div>
              <div style="margin: auto; padding: 0; display: flex; gap: 5%">
                <div style="text-align: center">
                  <img
                    style="
                      margin: auto;
                      padding: 0;
                      justify-content: center;
                      margin-top: 3px;
                    "
                    src="/FARMKART IMAGES/ICONS/Icons-15.png"
                    alt="icon"
                  />
                </div>
                <div>Farm Supplements</div>
              </div>
              <div style="margin: auto; padding: 0; display: flex; gap: 5%">
                <div style="text-align: center">
                  <img
                    style="
                      margin: auto;
                      padding: 0;
                      justify-content: center;
                      margin-top: 3px;
                    "
                    src="/FARMKART IMAGES/ICONS/Icons-15.png"
                    alt="icon"
                  />
                </div>
                <div>Other Categories</div>
              </div>
            </div>
            <hr />
          </div>
          <div class="batch2">
            <form action="">
              <div
                style="display: flex; flex-direction: column; margin-bottom: 5%"
              >
                <label for="location">Select Location</label>
                <select name="location" id="location">
                  <option value="All Nigeria">All Nigeria</option>
                  <option value="abia">Abia State</option>
                  <option value="adamawa">Adamawa State</option>
                  <option value="akwa-ibom">Akwa-ibom State</option>
                  <option value="anambra">Anambra State</option>
                  <option value="bauchi">Bauchi State</option>
                  <option value="bayelsa">Bayelsa State</option>
                  <option value="benue">Benue State</option>
                  <option value="borno">Borno State</option>
                  <option value="cross-river">Cross-River State</option>
                  <option value="delta">Delta State</option>
                  <option value="ebonyi">Ebonyi State</option>
                  <option value="edo">Edo State</option>
                  <option value="ekiti">Ekiti State</option>
                  <option value="enugu">Enugu State</option>
                  <option value="gombe">Gombe State</option>
                  <option value="imo">Imo State</option>
                  <option value="jigawa">Jigawa State</option>
                  <option value="kaduna">Kaduna State</option>
                  <option value="kano">Kano State</option>
                  <option value="lagos">Katsina State</option>
                  <option value="kebbi">Kebbi State</option>
                  <option value="kogi">Kogi State</option>
                  <option value="kwara">Kwara State</option>
                  <option value="lagos">Lagos State</option>
                  <option value="nasarawa">Nasarawa State</option>
                  <option value="niger">Niger State</option>
                  <option value="ogun">Ogun state</option>
                  <option value="ondo">Ogun State</option>
                  <option value="osun">Osun state</option>
                  <option value="oyo">Oyo State</option>
                  <option value="plateau">Plateau State</option>
                  <option value="rivers">Rivers State</option>
                  <option value="sokoto">Sokoto State</option>
                  <option value="taraba">Taraba State</option>
                  <option value="yobe">Yobe State</option>
                  <option value="zamfara">Zamfara State</option>
                  <option value="fct">FCT</option>
                </select>
              </div>
              <div
                style="display: flex; flex-direction: column; margin-bottom: 5%"
              >
                <label for="sort">Sort by</label>
                <select name="sort" id="sort">
                  <option value="popularity">most popular</option>
                  <option value="price(high)">Price (High)</option>
                  <option value="price(low)">Price (Low)</option>
                </select>
              </div>
              <div style="margin: auto; align-items: center">
                <button type="submit" value="Sell your products" class="bt">
                  <span class="material-symbols-outlined">add_box</span
                  ><a
                    href="/templates/newsell.html"
                    style="
                      text-decoration: none;
                      color: #c6c5c4;
                      font-size: 12px;
                      /* margin: auto; */
                    "
                  >
                    Sell your products</a
                  >
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="second-row">
          <div class="search">
            <input
              type="search"
              name="search"
              id="search"
              placeholder="search product"
            /><span
              ><img src="/FARMKART IMAGES/ICONS/Icons-9.png" alt="search-icon"
            /></span>
            <div class="menu">
              <img src="/FARMKART IMAGES/ICONS/Icons-11.png" alt="" />
            </div>
          </div>
          <div class="top">
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/pexels-todd-trapani-1405930.jpg"
                alt="chicken"
              />
              <p>Chicken</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/jorge-salvador-tqXeLOBzJsI-unsplash.jpg"
                alt="goat"
              />
              <p>Goats</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/Rectangle 276.png"
                alt="eggs"
              />
              <p>Eggs</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/Rectangle 277.png"
                alt="pigs"
              />
              <p>Pigs</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/proxy.jpg"
                alt="Cassava"
              />
              <p>Cassava</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/proxy (1).jpg"
                alt="plaintain"
              />
              <p>Plantain</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/cow.jpg"
                alt="Cows"
              />
              <p>Cows</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/pexels-oziel-gómez-1578445.jpg"
                alt="fish"
              />
              <p>Fish</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/dario-mendez-pvo1dnoj8tA-unsplash.jpg"
                alt="rice"
              />
              <p>Rice</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/hanson-lu-AJdFf7JJs_A-unsplash.jpg"
                alt="yam"
              />
              <p>Yam</p>
            </div>
            <div class="section">
              <img
                src="/FARMKART IMAGES/FARMKART PICTURES/proxy (2).jpg"
                alt="garri"
              />
              <p>Garri</p>
            </div>
          </div>
          <div class="next">
            <div>
              <p style="color: #005900; padding: 0; margin: 0 0 -4% 0">
                Most popular
              </p>
            </div>
            <div class="profile1">
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/Product image.png"
                  alt="cassava"
                />
                <div>
                  <p>Newly harvested cassava</p>
                  <p><b>#5000</b></p>
                  <p>Sold by: samuel</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <a href="/templates/product.html"
                  ><img
                    src="/FARMKART IMAGES/FARMKART PICTURES/pexels-ruel-madelo-933648.jpg"
                    alt="goat"
                /></a>
                <div>
                  <p>Matured goats</p>
                  <p><b>#30,000</b></p>
                  <p>Sold by: Ade</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/pexels-mali-maeder-110815.jpg"
                  alt="pig"
                />
                <div>
                  <p>Pigs</p>
                  <p><b>#10,000</b></p>
                  <p>Sold by: chiamaka</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/eggs.jpg"
                  alt="eggs"
                />
                <div>
                  <p>Jumbo sized eggs</p>
                  <p><b>#2,000</b></p>
                  <p>Sold by: Adebowale</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/cow.jpg"
                  alt="cows"
                />
                <div>
                  <p>Cows</p>
                  <p><b>#200,000</b></p>
                  <p>Sold by: Bola</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/vivek-sharma-rDDICrot22U-unsplash.jpg"
                  alt="onions"
                />
                <div>
                  <p>Onions</p>
                  <p><b>#10,000</b></p>
                  <p>Sold by: Yisa</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/proxy (3).jpg"
                  alt="cat-fish"
                />
                <div>
                  <p>Catfish per kg</p>
                  <p><b>#10,000</b></p>
                  <p>Sold by: Amina</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/proxy (4).jpg"
                  alt="broiler"
                />
                <div>
                  <p>12 weeks Broilers</p>
                  <p><b>#10,000</b></p>
                  <p>Sold by: Oke</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/proxy (5).jpg"
                  alt="cassava"
                />
                <div>
                  <p>Maize</p>
                  <p><b>#2,000</b></p>
                  <p>Sold by: Adamu</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/proxy (1).jpg"
                  alt="plantain bunch"
                />
                <div>
                  <p>Plantain bunch</p>
                  <p><b>#9,300</b></p>
                  <p>Sold by: Babashola</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/yam-1024x502.png"
                  alt="yams"
                />
                <div>
                  <p>Yams</p>
                  <p><b>#10,000</b></p>
                  <p>Sold by: Oke</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/live-pig-500x500.jpg"
                  alt="pigs"
                />
                <div>
                  <p>Matured pigs</p>
                  <p><b>#25,000</b></p>
                  <p>Sold by: Bukola</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/tomato-farming-business-plan-in-nigeria.jpg"
                  alt="tomatoes"
                />
                <div>
                  <p>Fresh basket of tomato</p>
                  <p><b>#18,000</b></p>
                  <p>Sold by: Tunde ishola</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/images23-1.jpg"
                  alt="oranges"
                />
                <div>
                  <p>Sweet ripe oranges</p>
                  <p><b>#5,000</b></p>
                  <p>Sold by: Adeolu</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/pawpaw_lnqj9h-1062x598.jpg"
                  alt="pawpaw"
                />
                <div>
                  <p>Hybrid Pawpaw</p>
                  <p><b>#3,000</b></p>
                  <p>Sold by: Titilayo</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/garri.png"
                  alt="garri"
                />
                <div>
                  <p>Fine ijebu garri</p>
                  <p><b>#600</b></p>
                  <p>Sold by: Lisa</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/image.jpeg"
                  alt="rice"
                />
                <div>
                  <p>Medium-sized grain of rice</p>
                  <p><b>#27,000</b></p>
                  <p>Sold by: Emmanuel</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
              <div class="goods">
                <img
                  src="/FARMKART IMAGES/FARMKART PICTURES/pexels-engin-akyurt-10899602.jpg"
                  alt="pepper"
                />
                <div>
                  <p>Fresh cane pepper</p>
                  <p><b>#3,000</b></p>
                  <p>Sold by: Juliet</p>
                  <button type="submit">Add to cart</button>
                </div>
              </div>
            </div>
            <div
              style="justify-content: flex-end; display: flex"
              class="loader"
            >
              <div><a href="">1</a></div>
              <div><a href="">2</a></div>
              <div><a href="">3</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="foot">
        <div class="a1">
          <img src="/FARMKART IMAGES/ICONS/logo (2).png" alt="Farmkart logo" />
        </div>
        <div class="b1">
          <div class="a">
            <ul>
              <li>ABOUT US</li>
              <li><a href="">About Farmkart</a></li>
              <li><a href="/templates/Termofuse.html">Terms of use</a></li>
            </ul>
          </div>
          <div class="b">
            <ul>
              <li>RESOURCES</li>
              <li><a href="">Our Blog</a></li>
            </ul>
          </div>
          <div class="c">
            <ul>
              <li>SUPPORT</li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">FAQ</a></li>
            </ul>
          </div>
          <div class="d">
            <form action="" method="post">
              <p><label for="subscribe">NEWSLETTER</label></p>
              <input
                type="email"
                name="subscribe"
                id="subscribe"
                class="input"
                placeholder="abeljames@outlook.com"
              /><span
                ><input type="button" value="SUBSCRIBE" class="btn"
              /></span>
            </form>
          </div>
        </div>
      </div>
      <hr />
      <div class="last">
        <div class="copy">
          <p>&copy; 2022 All right reserved <a href="">FARMKART</a></p>
        </div>
        <div class="socials">
          <span
            ><span
              ><a href=""
                ><img
                  src="/FARMKART IMAGES/ICONS/facebook 1.png"
                  alt="facebook icon" /></a></span
            ><span
              ><a href=""
                ><img
                  src="/FARMKART IMAGES/ICONS/linkedin 1.png"
                  alt="linkedin icon" /></a></span
            ><span
              ><a href=""
                ><img
                  src="/FARMKART IMAGES/ICONS/twitter.png"
                  alt="twitter icon" /></a></span
            ><span class="mail"
              ><a href=""
                ><img
                  src="/FARMKART IMAGES/ICONS/mail.png"
                  alt="gmail icon" /></a></span
          ></span>
        </div>
      </div>
    </footer>
  </body>
</html>
