<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Asaolu James">
    <meta name="description" content="This is the Term of use page for farmkart, only for existing users.">
    <link rel="shortcut icon" href="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/nav.css">
    <title>FARMKART | Terms of use</title>
    <style>
      @font-face {
        font-family: 'hauora';
        src: url('/FONTS/Hauora-Light.otf');
      }
      main{
        width: 90%;
        margin: auto;
        text-align: justify;
        line-height: 170%;
        margin-bottom: 8%;
        margin-top: 10%;
        font-family: hauora;
        font-size: 14px;
      }
      .top {
        text-align: center;
        margin: 5% 0% 5% 0%;
      }
      .head{
        margin-bottom: -1.5%;
        font-weight: 900;
        font-size: 18px;
      }
      main a{
        text-decoration: none;
        color: #005900;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <div class="theLogo">
            <img src="/FARMKART IMAGES/FARMKART PICTURES/image 233.png" alt="farmkart-logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/templates/market.html">Marketplace</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Support</a></li>
            </ul>
        </div>
        <div class="profile">
            <div class="imaging">
                <img src="/FARMKART IMAGES/FARMKART PICTURES/abubakar-balogun-TwOSyPtnM94-unsplash (2).jpg" alt="">
            </div>
            <div class="butn">
                <button type="submit"><a href="/templates/newsell.html">SELL</a></button>
            </div>
            <div class="cart">
                <div class="no-of-items"><p></p></div>
                <img src="/FARMKART IMAGES/ICONS/Icons-8.png" alt="">
                <a href="/templates/emptycart.html">Cart</a>
            </div>
        </div>
    </div>
    </nav>
    <main>
      <div class="top"><p class="head">Terms of use</p></div>
      <div>
        <p>
          By using the  FarmKart platform, these terms will automatically apply to you. Please endeavour to read them carefully before using the platform. Not in any case are you allowed to copy, or modify any part of the website, or our trademarks in any way. Ontop of that, you are not allowed to attempt to extract the source code and API of the platform. Also, you should not try to translate the platform into other languages, or make derivative versions. The website itself, and all the trade marks, copyright, database rights and other intellectual property rights related to it, still belong to Farmer’s Ventures and Farm Kart.
        </p><br>
        <p>
          Farm Kart is committed to ensuring that the website is as useful and efficient as possible. For that reason, we reserve the right to make changes to the platform or to charge for its services, at any time. We will never charge you for the website or its services without making it very clear to you exactly what you are paying for.
        </p><br>
        <p>
          Farm Kart stores and processes personal data that you have provided to us, in order to provide our Service. It is therefore your sole responsibility to keep your phone and access to the platform secure. We recommend that you do not try to bypass our security and also constantly change your IP Address as this may result in making your data less secured and potential hack by fraudsters.
        </p><br>
        <p>
          You should be aware that there are certain things that Farm Kart will not take responsibility for. The website will require the use of the internet at all time and you can only enjoy the benefits of the platform when you have registered successfully. A good network providers is therefore imperative to have full access to the website. The connection can be Wi-Fi, or provided by your mobile network provider, but Farm Kart cannot take responsibility for the website not working at full functionality if you do not have access to Wi-Fi, and you don’t have any of your data allowance left.
        </p><br>
        <p>
          If you are using the website outside of an area with Wi-Fi, you should remember that your terms of the agreement with your mobile network provider will still apply. As a result, you may be charged by your mobile provider for the cost of data for the duration of the connection while accessing the platform, or other third party charges. In using Farmkart platform, you are accepting responsibility for any such charges, including roaming data charges if you use the app outside of your home territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the device on which you are using the platform, please be aware that we assume that you have received permission from the bill payer for using the platform.
        </p><br>
        <p>
          Along the same lines, Farm Kart has the right to prosecute you if you attempt to engage in fraudulent and nefarious acts while engaging with farmers or consumers. We take the Nigerian Legal code on stealing and fraudulent acts with extreme alacrity. So desist from attempting to engage in such acts.
        </p><br>
        <p>
          With respect to Farm Kart’s responsibility for your use of the platform, when you are using the website, it is important to bear in mind that although we endeavour to ensure that it is updated and correct at all times, we do rely on third parties to provide information to us so that we can make it available to you. Farm Kart accepts no liability for any loss, direct or indirect, you experience as a result of relying wholly on this functionality of the website.
        </p><br>
        <p class="head">Changes to this Terms and conditions</p><br>
        <p>
          We may update our Terms and conditions from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Terms and Conditions on this page and also on our blog. These changes are effective immediately after they are posted on this page.
        </p><br>
        <p class="head">Contact us</p><br>
        <p>If you have any questions or suggestions about our Terms of use, do not hesitate to contact us at <a href="mailto:info@farmkart.ng">info@farmkart.ng</a></p>
      </div>
    </main>
    
    <footer>
      <div class="foot">
        <div class="a1">
           <img src="/FARMKART IMAGES/ICONS/logo (2).png" alt="Farmkart logo">
        </div>
        <div class="b1">
            <div class="a">
                <ul>
                 <li>ABOUT US</li>
                 <li><a href="">About Farmkart</a></li>
                 <li><a href="">Terms of use</a></li>
                </ul>
             </div>
             <div class="b">
                 <ul>
                     <li>RESOURCES</li>
                     <li><a href="/templates/Error.html">Our Blog</a></li>
                 </ul>
             </div>
             <div class="c">
                 <ul>
                     <li>SUPPORT</li>
                     <li><a href="">Contact Us</a></li>
                     <li><a href="">FAQ</a></li>
                 </ul>
             </div>
             <div class="d">
                 <form action="" method="post">
                    <p><label for="subscribe">NEWSLETTER</label></p>
                    <input type="email" name="subscribe" id="subscribe" class="input" placeholder="abeljames@outlook.com"><span><button type="submit" class="btn">SUBSCRIBE</button></span>
                 </form>
             </div>
        </div>
    </div>
    <hr>
    <div class="last">
        <div class="copy">
            <p>&copy; 2022 All right reserved <a href="">FARMKART</a></p>
        </div>
        <div class="socials">
            <span><span><a href=""><img src="/FARMKART IMAGES/ICONS/facebook 1.png" alt="facebook icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/linkedin 1.png" alt="linkedin icon"></a></span><span><a href=""><img src="/FARMKART IMAGES/ICONS/twitter.png" alt="twitter icon"></a></span><span class="mail"><a href=""><img src="/FARMKART IMAGES/ICONS/mail.png" alt="gmail icon"></a></span></span>
        </div>
      </div>
    </footer>
  </body>
</html>